<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">

<head>
  <meta charset="UTF-8">
  <title>Страница администратора</title>
</head>
<body>
<h1> Действия доступные администратору</h1>
<a href="/admin/manage">Управление записями в базе данных</a>
<br>
<a href="/admin/serials">Посмотреть серийные номера</a>



<form th:action="@{/logout}" th:method="POST">
  <input type="submit" value="logout">
</form>

</body>
</html>