.artGroup{
background-color: orange;
color: black;
}

h3 {
    font-family: sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    color:green
}

p {
    font-family: sans-serif;
}
.my_submits {
    width: 90px;
    height: 90px;
}