<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>Формирование файла с этикетками</title>
  <link href="../resources/css/style.css"
        th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h3> Добро пожаловать в программу для формирования файла с этикетками</h3>
<p> Выберите номеклатуру</p>
<!--th:method - задает метод, th:action - задает адрес отправки метода-->
<form th:method="POST" th:action="@{/}" th:object="${dto}">
  <div class="artGroup">
    Типы датчиков:
    <br>

    <label for="1"> |20.11 1 MPa  </label>

    <input type="radio"  name="group1" th:field="*{art}" th:value="1" checked/>
    <label for="2"> |20.11 0.6 MPa </label>
    <input type="radio" value="val2" name="group1"  th:field="*{art}" th:value="2"/>
    <label for="3"> |20.11 10 bar </label>
    <input type="radio" value="val3" name="group1" th:field="*{art}" th:value="3"/>
    <label for="4"> |20.11 6 bar </label>
    <input type="radio" value="val4" name="group1" th:field="*{art}" th:value="4" />
  </div>
  <p>Выберите позицию для размещения</p>
  <div class="positions">
    <p><select th:field="*{pos}">
      <!--цикл для пунктов списка-->
      <option th:each="i : ${#numbers.sequence(1,12)}"
              th:value="${i} "
              th:text="Поз. +${i}">
        <!-- th:field-->
      </option>
    </select>
      <br>
      <label for="serial"> Серийный номер </label>
      <input type="text" th:field="*{serial}" id="serial"/>
      <br>
          <input type="submit" style="width:200px;" value="Разместить" th:field="*{task}" th:value="Разместить" ></p>
    <input type="submit" style="width:200px;" value="Удалить" th:field="*{task}" th:value="Удалить"></p>
  </div>
</form>
<br>
<form>
  <input type="submit" class="my_submits" style="width:200px;" value="Сохранить">
</form>
<br>
<form>
  <input type="submit" style="width:200px;" value="Открыть папку">
</form>
<p>Добавлены следующие позиции </p>
<div th:each="pos :${map}" th:with="lbl=${pos.value}" >
  <p th:text="'Позиция '+${pos.key}+' Датчик '+${lbl.getName()}
+' : '+ ${lbl.getRange()}+' SN: '+${lbl.getSerial()}"
  </p>
</div>

</body>
</html>