<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Все номенклатуры </title>
    <link href="../static/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<p> Информация об артикуле </p>
<div> <p th:text="${lbl.getId()+' '+lbl.getName()}"></p>
    <p th:text="${'Артикул: '+lbl.getArticle()}"></p>
    <p th:text="${'Диапазон измерения: '+lbl.getRange()}"></p>
    <p th:text="${'Распиновка: '+lbl.getPinout()}"></p>
    <p th:text="${'Производитель: '+lbl.getManufacturer()}"></p>
</div>
<div th:if="${isAdmin}">
    <form th:method="GET" th:action="@{/admin/edit/{id}(id=${lbl.getId()})}" th:object="${label}">
        <input type="submit" value="Редактировать" name="edit">
    </form>
    <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${lbl.getId()})}" th:object="${label}">
        <input type="submit" value="Удалить" name="delete">
    </form>

</div>
<hr>
<a href="/show"> Вернуться к списку</a>
</body>
</html>